项目/personal/1.6.x/src/test/resources/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="HelloWorld" targetNamespace="http://sample.ws.apps.opoo.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sample.ws.apps.opoo.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://sample.ws.apps.opoo.org/" version="1.0" xmlns:tns="http://sample.ws.apps.opoo.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="findUsers" type="tns:findUsers" />
<xs:element name="findUsersResponse" type="tns:findUsersResponse" />
<xs:element name="getMapUsers" type="tns:getMapUsers" />
<xs:element name="getMapUsersResponse" type="tns:getMapUsersResponse" />
<xs:element name="sayHello" type="tns:sayHello" />
<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
<xs:element name="sayUserHello" type="tns:sayUserHello" />
<xs:element name="sayUserHelloResponse" type="tns:sayUserHelloResponse" />
<xs:complexType name="sayHello">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sayHelloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMapUsers">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getMapUsersResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:UserMap" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:IdentifiedUser" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="IdentifiedUser">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element minOccurs="0" name="user" type="tns:User" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="User">
<xs:sequence>
<xs:element minOccurs="0" name="password" type="xs:string" />
<xs:element minOccurs="0" name="userId" type="xs:int" />
<xs:element minOccurs="0" name="username" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="findUsers">
<xs:sequence />
</xs:complexType>
<xs:complexType name="findUsersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:User" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sayUserHello">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:User" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sayUserHelloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayUserHelloResponse">
    <wsdl:part element="tns:sayUserHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayUserHello">
    <wsdl:part element="tns:sayUserHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUsers">
    <wsdl:part element="tns:findUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMapUsersResponse">
    <wsdl:part element="tns:getMapUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMapUsers">
    <wsdl:part element="tns:getMapUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUsersResponse">
    <wsdl:part element="tns:findUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMapUsers">
      <wsdl:input message="tns:getMapUsers" name="getMapUsers">
    </wsdl:input>
      <wsdl:output message="tns:getMapUsersResponse" name="getMapUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUsers">
      <wsdl:input message="tns:findUsers" name="findUsers">
    </wsdl:input>
      <wsdl:output message="tns:findUsersResponse" name="findUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayUserHello">
      <wsdl:input message="tns:sayUserHello" name="sayUserHello">
    </wsdl:input>
      <wsdl:output message="tns:sayUserHelloResponse" name="sayUserHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sayHello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMapUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMapUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMapUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayUserHello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sayUserHello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sayUserHelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorld">
    <wsdl:port binding="tns:HelloWorldSoapBinding" name="HelloWorldImplPort">
      <soap:address location="http://localhost:9000/helloWorld" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>